$black: #282828;
$white: #EBECE9;
$light-blue: #00CDCD;
$light-green: #3CD184;
$light-purple: #C175FF;
$light-red: #E23C57;
$red: #B11B34;
$blue: #008F8F;
$green: #23955A;
$purple: #8700F5;


.nav-btn {
    color: $black; 
    background: transparent;
    border: 1px solid $black;
    border-radius: 0.5rem; 
    height: 2.5rem; 
    width: 5rem; 
    transition: background-color 0.2s linear, color 0.2s linear;
    
    &:hover {
        color: $white;
        background: $black; 
    }
}