@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/grid";

// custom colors
$black: #282828;
$white: #EBECE9;
$light-blue: #00CDCD;
$light-green: #3CD184;
$light-purple: #C175FF;
$light-red: #E23C57;
$red: #B11B34;
$blue: #008F8F;
$green: #23955A;
$purple: #8700F5;

body {
    background: $white; 
}

.modal-backdrop {
    background: rgba($black, 0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    z-index: 1;
    animation: fadeIn 0.25s linear forwards; 
}

.modal-wrapper {
    // overflow: hidden; 
}

.sl-form {
    background: $black;
    // background-color: $white; 
    padding: 2rem; 
    border-radius: 0.5rem; 
    // max-height: 30rem;
    max-width: 30rem; 
    height: 32rem; 
    width: 85%;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
    z-index: 10; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 

    & h2 {
        font-weight: bold; 
        text-align: center; 
        color: $white; 
        margin-top: 0.2rem; 
        margin-bottom: 0.2rem;
        & span {
            color: $light-blue;
        }
    }

    & .text-input {
        width: 100%; 
        z-index: 2;
        border-radius: 0.5rem; 
        height: 3rem; 
        margin-top: 0.5rem;
        margin-bottom: 0.5rem; 
        border: none; 
        color: $white;
        background-color: rgba($white, 0.3);
        text-align: center; 
        font-size: 1.2rem;
        &:focus {
            outline: none;
            background-color: rgba($white, 0.5);
        }
        &::placeholder {
            text-align: center;
            color: $white;
        }
    }

    & .warning {
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        margin-top: 0;
        color: $light-red;
    }

    & .button {
        border: none;
        font-size: 1.5rem; 
        border-radius: 0.5rem; 
        height: 3rem; 
        transition: background-color 0.2s linear; 
        &:hover {
            background-color: $light-blue; 
        }

        &:focus {
            background-color: $light-blue;
        }
    }

    & .success {
        background-color: $light-green !important;
        color: $white !important; 
    }
}

.close-btn {
    position: absolute;
    color: white;
    top: 1rem;
    right: 0;
    left: 92%;   
    transition: color 0.2s linear; 
    &:hover {
        color: $light-red;
    }
}

.inputs {
    margin-bottom: 0.5rem; 
}

.input-wrapper {
    position: relative;
}

.icon-wrapper {
    position: absolute; 
    color: $white; 
    font-size: 1.5rem; 
    top: 1.25rem;
    left: 1.5rem;
    right: 0;
    bottom: 0; 
    width: 0.1rem; 
}

.show-btn {
    text-align: center; 
    position: absolute;
    appearance: none; 
    width: 3.5rem;
    height: 2rem;
    border-radius: 0.5rem; 
    background-color: $white; 
    color: $black;
    top: 1rem;
    left: 85%;
    bottom: 0;
    border: none;
    transition: background-color 0.2s linear, color 0.2s linear;

    &:hover {
        background-color: rgba($white, 0.8);
    }
}

.show-btn-clicked {
    text-align: center; 
    position: absolute;
    appearance: none; 
    width: 3.5rem;
    height: 2rem;
    border-radius: 0.5rem; 
    background-color: $black; 
    color: $white;
    top: 1rem;
    left: 85%;
    bottom: 0;
    border: none;
    transition: background-color 0.2s linear, color 0.2s linear;

    &:hover {
        background-color: rgba($black, 0.6);
    }
}

@media screen and (max-width: 425px) {

    .sl-form {

        & .text-input {
            font-size: 1rem;
            &::placeholder {
                font-size: 1rem; 
            }
        }
    }

    .show-btn {
        width: 2rem; 
        font-size: .5rem; 
        font-weight: bold;
    }

    .show-btn-clicked {
        width: 2rem;
        font-size: .5rem; 
        font-weight: bold;
    }
}

.divider {
    display: flex;
    color: $white;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:before{
        content: "";
        flex: 1 1;
        border-bottom: 1px solid $white;
        margin: auto; 
        margin-right: 0.75rem;
    }

    &:after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid $white;
        margin: auto; 
        margin-left: 0.75rem; 
    }
}

// keyframe animations

.slide-in {
    animation: slide-in 0.2s linear forwards;
}

.slide-out {
    animation: slide-out 0.2s linear forwards; 
}

@keyframes slide-in {
    from {
        transform: translateY(-50vh);
        opacity: 0;
    }
    to {
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1; 
    }
    to {
        transform: translateY(-50vh);
        opacity: 0;  
    }
}



