@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/grid";

// custom colors
$black: #282828;
$white: #F0EAD6;
$light-blue: #00CDCD;
$light-green: #3CD184;
$light-purple: #C175FF;
$light-red: #E23C57;
$red: #B11B34;
$blue: #008F8F;
$green: #23955A;
$purple: #8700F5;

body {
    background: $white; 
}

.modal-backdrop {
    background: rgba($black, 0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    z-index: 1;
    animation: fadeIn 0.25s linear forwards; 
}

.modal-wrapper {
    // overflow: hidden; 
}

@mixin sl-styling($sl-height, $sl-width){
    .sl-form {
        min-height: $sl-height;
        width: $sl-width; 
        position: absolute; 
        top: calc((70vh - #{$sl-height})/2);
        left: calc((100vw - #{$sl-width})/2); 
        z-index: 10; 
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
    }
}

@media screen and (max-width: 760px) {
    @include sl-styling($sl-height: 22vh, $sl-width: 80vw)
}

@media screen and (min-width: 800px) {
    @include sl-styling($sl-height: 32vh, $sl-width: 25vw)
}

// $sl-height: 32vh; 
// $sl-width: 25vw; 

// .sl-form {
//     min-height: $sl-height;
//     width: $sl-width; 
//     position: absolute; 
//     top: calc((100vh - #{$sl-height})/2);
//     left: calc((100vw - #{$sl-width})/2); 
//     z-index: 10; 
//     display: flex;
//     flex-direction: column; 
//     justify-content: space-between; 
// }



