.side-nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 25%;
  right: 0%;
  margin-right: 1rem;
  z-index: 10;
}

.options {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1.4rem;
  margin-right: 7rem;
  font-size: 2rem;
  background-color: #282828;
  border: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #E2CA78;
}

.options:hover {
  color: #D8B646;
}

.op-selected {
  color: #D8B646 !important;
}

.op-selected:hover {
  color: #E2CA78 !important;
}

.click-off a {
  pointer-events: none;
}

.option-item-in-0 {
  opacity: 0;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  -webkit-animation: slideInOption 0.25s 0.75s linear forwards;
          animation: slideInOption 0.25s 0.75s linear forwards;
}

.option-item-in-1 {
  opacity: 0;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  -webkit-animation: slideInOption 0.25s 1s linear forwards;
          animation: slideInOption 0.25s 1s linear forwards;
}

.option-item-in-2 {
  opacity: 0;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  -webkit-animation: slideInOption 0.25s 1.25s linear forwards;
          animation: slideInOption 0.25s 1.25s linear forwards;
}

.option-item-in-3 {
  opacity: 0;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  -webkit-animation: slideInOption 0.25s 1.5s linear forwards;
          animation: slideInOption 0.25s 1.5s linear forwards;
}

.option-item-in-4 {
  opacity: 0;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  -webkit-animation: slideInOption 0.25s 1.75s linear forwards;
          animation: slideInOption 0.25s 1.75s linear forwards;
}

.option-item-out-0 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: slideOutOption 0.1s 0s linear forwards;
          animation: slideOutOption 0.1s 0s linear forwards;
}

.option-item-out-1 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: slideOutOption 0.1s 0.1s linear forwards;
          animation: slideOutOption 0.1s 0.1s linear forwards;
}

.option-item-out-2 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: slideOutOption 0.1s 0.2s linear forwards;
          animation: slideOutOption 0.1s 0.2s linear forwards;
}

.option-item-out-3 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: slideOutOption 0.1s 0.3s linear forwards;
          animation: slideOutOption 0.1s 0.3s linear forwards;
}

.option-item-out-4 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: slideOutOption 0.1s 0.4s linear forwards;
          animation: slideOutOption 0.1s 0.4s linear forwards;
}

@-webkit-keyframes slideInOption {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20vh);
            transform: translateY(-20vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInOption {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20vh);
            transform: translateY(-20vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideOutOption {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-20vh);
            transform: translateY(-20vh);
  }
}

@keyframes slideOutOption {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-20vh);
            transform: translateY(-20vh);
  }
}

.hidden {
  display: none;
}

.label {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.side-nav-btn {
  font-size: 1rem;
  border-radius: 0.5rem;
  width: 6rem;
  height: 6rem;
  padding: 0;
  margin-bottom: 1rem;
  background-color: rgba(235, 236, 233, 0.05);
  color: #E2CA78;
  border: none;
  -webkit-box-shadow: 0.4rem 0.4rem rgba(235, 236, 233, 0.08);
          box-shadow: 0.4rem 0.4rem rgba(235, 236, 233, 0.08);
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.side-nav-btn:hover {
  color: #D8B646;
  background-color: rgba(235, 236, 233, 0.1);
}

.sn-selected {
  background-color: #D8B646 !important;
  color: #282828 !important;
  -webkit-box-shadow: 0.4rem 0.4rem rgba(226, 202, 120, 0.3);
          box-shadow: 0.4rem 0.4rem rgba(226, 202, 120, 0.3);
}

@media screen and (max-width: 768px) {
  .side-nav {
    background-color: rgba(40, 40, 40, 0.8);
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .side-nav-btn {
    background-color: #282828;
  }
  .side-nav-btn:hover {
    background-color: #283143;
  }
}
/*# sourceMappingURL=style.css.map */