.side-nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 30%;
  right: 0%;
  margin-right: 1rem;
}

.side-nav .label {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.side-nav-btn {
  font-size: 1rem;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  padding: 0;
  margin-bottom: 1rem;
  background-color: #EBECE9;
  border-width: 3px;
  border-style: solid;
}

.em-btn {
  border-color: #C175FF;
  color: #C175FF;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.em-btn:hover {
  background-color: rgba(193, 117, 255, 0.2);
  -webkit-box-shadow: 0 0 0.15rem 0.15rem rgba(135, 0, 245, 0.5);
          box-shadow: 0 0 0.15rem 0.15rem rgba(135, 0, 245, 0.5);
}

.em-selected {
  background-color: #C175FF !important;
  color: #EBECE9 !important;
}

.pt-btn {
  border-color: #E23C57;
  color: #E23C57;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.pt-btn:hover {
  background-color: rgba(226, 60, 87, 0.2);
  -webkit-box-shadow: 0 0 0.15rem 0.15rem rgba(177, 27, 52, 0.5);
          box-shadow: 0 0 0.15rem 0.15rem rgba(177, 27, 52, 0.5);
}

.pt-selected {
  background-color: #E23C57 !important;
  color: #EBECE9 !important;
}

.jc-btn {
  border-color: #3CD184;
  color: #3CD184;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.jc-btn:hover {
  background-color: rgba(60, 209, 132, 0.2);
  -webkit-box-shadow: 0 0 0.15rem 0.15rem rgba(35, 149, 90, 0.5);
          box-shadow: 0 0 0.15rem 0.15rem rgba(35, 149, 90, 0.5);
}

.jc-selected {
  background-color: #3CD184 !important;
  color: #EBECE9 !important;
}

.help-btn {
  border-color: #00CDCD;
  color: #00CDCD;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.help-btn:hover {
  background-color: rgba(0, 205, 205, 0.2);
  -webkit-box-shadow: 0 0 0.15rem 0.15rem rgba(0, 143, 143, 0.5);
          box-shadow: 0 0 0.15rem 0.15rem rgba(0, 143, 143, 0.5);
}

.help-selected {
  background-color: #00CDCD !important;
  color: #EBECE9 !important;
}
/*# sourceMappingURL=style.css.map */