.side-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 15%;
  right: 0%;
  margin-right: 1rem;
  z-index: 10;
}

.options {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1.4rem;
  margin-right: 2rem;
  font-size: 2rem;
  background-color: #282828;
  border: none;
  transition: color 0.2s linear;
  color: #E2CA78;
}
.options:hover {
  color: #bc992B;
}

.op-selected {
  color: #bc992B !important;
}
.op-selected:hover {
  color: #E2CA78 !important;
}

.click-off a {
  pointer-events: none;
}

.option-item-in-0 {
  opacity: 0;
  transform: translateY(-20vh);
  -webkit-animation: slideInOption 0.1s 0.1s linear forwards;
          animation: slideInOption 0.1s 0.1s linear forwards;
}

.option-item-in-1 {
  opacity: 0;
  transform: translateY(-20vh);
  -webkit-animation: slideInOption 0.1s 0.2s linear forwards;
          animation: slideInOption 0.1s 0.2s linear forwards;
}

.option-item-in-2 {
  opacity: 0;
  transform: translateY(-20vh);
  -webkit-animation: slideInOption 0.1s 0.3s linear forwards;
          animation: slideInOption 0.1s 0.3s linear forwards;
}

.option-item-in-3 {
  opacity: 0;
  transform: translateY(-20vh);
  -webkit-animation: slideInOption 0.1s 0.4s linear forwards;
          animation: slideInOption 0.1s 0.4s linear forwards;
}

.option-item-in-4 {
  opacity: 0;
  transform: translateY(-20vh);
  -webkit-animation: slideInOption 0.1s 0.5s linear forwards;
          animation: slideInOption 0.1s 0.5s linear forwards;
}

.option-item-out-0 {
  opacity: 1;
  transform: translateY(0);
  -webkit-animation: slideOutOption 0.1s 0s linear forwards;
          animation: slideOutOption 0.1s 0s linear forwards;
}

.option-item-out-1 {
  opacity: 1;
  transform: translateY(0);
  -webkit-animation: slideOutOption 0.1s 0.1s linear forwards;
          animation: slideOutOption 0.1s 0.1s linear forwards;
}

.option-item-out-2 {
  opacity: 1;
  transform: translateY(0);
  -webkit-animation: slideOutOption 0.1s 0.2s linear forwards;
          animation: slideOutOption 0.1s 0.2s linear forwards;
}

.option-item-out-3 {
  opacity: 1;
  transform: translateY(0);
  -webkit-animation: slideOutOption 0.1s 0.3s linear forwards;
          animation: slideOutOption 0.1s 0.3s linear forwards;
}

.option-item-out-4 {
  opacity: 1;
  transform: translateY(0);
  -webkit-animation: slideOutOption 0.1s 0.4s linear forwards;
          animation: slideOutOption 0.1s 0.4s linear forwards;
}

@-webkit-keyframes slideInOption {
  from {
    opacity: 0;
    transform: translateY(-20vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInOption {
  from {
    opacity: 0;
    transform: translateY(-20vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideOutOption {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20vh);
  }
}
@keyframes slideOutOption {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20vh);
  }
}
.hidden {
  display: none;
}

.label {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.side-nav-btn {
  font-size: 1rem;
  border-radius: 0.5rem;
  width: 6rem;
  height: 6rem;
  padding: 0;
  margin-bottom: 1rem;
  background-color: rgba(235, 236, 233, 0.05);
  color: #E2CA78;
  border: none;
  transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s ease-in-out;
}
.side-nav-btn:hover {
  color: #bc992B;
  box-shadow: inset 0 0 0 6rem rgba(235, 236, 233, 0.1);
}

.sn-selected {
  background-color: #bc992B !important;
  color: #282828 !important;
}

@media screen and (max-width: 1440px) {
  .side-nav {
    top: 25%;
  }

  .side-nav-btn {
    font-size: 0.8rem;
    width: 4.25rem;
    height: 4.25rem;
  }
}
@media screen and (max-width: 1000px) {
  .side-nav {
    background-color: rgba(40, 49, 67, 0.8);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .side-nav-btn {
    background-color: #282828;
  }
  .side-nav-btn:hover {
    background-color: #283143;
  }
}/*# sourceMappingURL=style.css.map */