.nav-error-margins {
    margin-top: 10%;
    margin-left: 20%; 
    padding-bottom: 5rem; 
}

.excella-slide-in-nav-error {
    animation: excella-slide-in-nav-error 0.5s linear forwards; 
}

.hammer {
    animation: hammering 1.5s ease-in-out infinite; 
    width: fit-content; 
    height: fit-content;
    margin-left: auto;
    margin-right: auto; 
    font-size: 4rem; 
}


@keyframes excella-slide-in-nav-error {
    0% {
        transform: translateX(-50vw) rotate(45deg);
    }
    75% {
        transform: translateX(0) rotate(-15deg);
    }
    100% {
        transform: translateX(0) rotate(0deg); 
    }
}

@keyframes hammering {
    0% {
        transform: rotate(0deg); 
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(0deg); 
    }

}



@media screen and (max-width: 500px){
    .nav-error-margins {
        margin-top: 30%;
        margin-left: 10%; 
    }

    .hammer {
        font-size: 2rem;
    }
    
}