$black: #282828;
$white: #EBECE9;
$blue: #283143;
$gold: #D8B646;
$light-gold: #E2CA78;

#logo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: -0.25rem;
    margin-left: 1rem;  
    & svg {
        width: 3rem; 
        fill: $white; 
    }
}

.home-sprite-wrapper {
    animation: hover-1 5s ease-in-out infinite;  

    svg {
        fill: $gold;
        stroke:$gold; 
    }
}

.optional-margin {
    margin-top: 1rem; 
}

.emphasized-text {
    color: $white; 
    font-weight: bold; 
}

.speech-bubble {
    opacity: 0;
    color: $black;
    background-color: $gold;
    border-radius: 0.5rem; 
    box-shadow: 1rem 1rem rgba($white, 0.08); 
    padding: 1rem; 
    margin-top: -2rem;  
    font-size: 2rem; 
    position: relative; 

    &::before {
        content: '';
        position: absolute; 
        width: 4rem; 
        height: 0.75rem;
        border-radius: 1rem;  
        background-color: $gold;
        top: calc(100% + 1rem);
        left: 0%;
        box-shadow: 1.2rem 1.2rem rgba($white, 0.08); 
        animation: hover-3 5s linear infinite; 

    }
    &::after {
        content: '';
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 100%;  
        background-color: $gold; 
        top: calc(100% + 2.5rem);
        left: 0%;
        box-shadow: 1.2rem 1.2rem rgba($white, 0.08); 
        animation: hover-4 5s linear infinite; 
    }
}

.info-bubble {
    opacity: 0;
    background-color: $gold;
    color: $black;
    border-radius: 0.5rem; 
    box-shadow: 1rem 1rem rgba($white, 0.08);
    padding-bottom: 1rem; 
    margin-bottom: 3rem; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    animation: fade-in 0.75s 0.75s linear forwards; 
    & .info-icon {
        font-size: 5rem; 
    }

    & p {
        font-weight: bold; 
        align-self: start; 
        font-size: 1.1rem; 
    }

    & h1 {
        font-size: 2rem; 
        margin-bottom: 1rem; 
        margin-top: 1rem; 
    }
    
    &::before {
        content: '';
        position: absolute; 
        width: 4rem; 
        height: 0.75rem;
        border-radius: 1rem;  
        background-color: $gold;
        top: calc(0% - 2rem);
        left: 0;
        box-shadow: 1.2rem 1.2rem rgba($white, 0.08); 
    }
    &::after {
        content: '';
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 100%;  
        background-color: $gold; 
        top: calc(0% - 4rem);
        left: 0;
        box-shadow: 1.2rem 1.2rem rgba($white, 0.08); 
    }
}

.info-description {
    font-size: 1.25rem;
    font-weight:bold;
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
}

.info-content { 
    display: flex;
    width: 90%; 
    justify-content: space-between;
    align-items: center; 
    
    & button {
        background-color: transparent; 
        border: none; 
        transition: color 0.2s linear; 
        font-size: 2rem; 
        &:hover {
            color: $white; 
        }
    }
}
.index-btn-wrapper {
    align-self: center; 
}

.index-btn {
    border: none;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    background-color: $black; 
    margin-right: 0.5rem;
    margin-left: 0.5rem; 
}

.selected-index {
    background-color: $white !important;
}

.speech-bubble-fade-in {
    animation: hover-2 5s linear infinite, fade-in 0.75s linear forwards; 
}

.speech-bubble-fade-out {
    animation: hover-2 5s linear infinite, fade-out 0.5s linear forwards; 
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0; 
    }
}

@keyframes hover-1 {
    0%{
        transform: translateY(0.75rem);
    }
    50% {
        transform: translateY(-0.75rem); 
    }
    100% {
        transform: translateY(0.75rem); 
    }
}

@keyframes hover-2 {
    0%{
        transform: translateY(0.6rem);
    }
    50% {
        transform: translateY(-0.6rem); 
    }
    100% {
        transform: translateY(0.6rem); 
    }
}
@keyframes hover-3 {
    0%{
        transform: translateY(0.5rem);
    }
    50% {
        transform: translateY(-0.5rem); 
    }
    100% {
        transform: translateY(0.5rem); 
    }
}

@keyframes hover-4 {
    0% {
        transform: translateY(0.4rem);
    }
    50% {
        transform: translateY(-0.4rem);
    }
    100% {
        transform: translateY(0.4rem);
    }
}

@media screen and (max-width: 1024px) {
    .optional-margin {
        margin-top: 4rem; 
    }
    .speech-bubble {
        font-size: 1.2rem; 
        &::before {
            height: 0.5rem; 
            width: 3rem; 
        }
        &::after {
            height: 0.5rem;
            width: 0.5rem; 
        }
    }
}
// this used to be 500
@media screen and (max-width: 700px) {
    .speech-bubble {
        font-size: 1.2rem; 
        &::before {
            display: none; 
        }
        &::after{
           display: none; 
        }
    }

    .optional-margin {
        margin-top: 4rem; 
    }

    .info-bubble {
        & p {
            font-size: 0.9rem; 
        }

        & h1 {
            font-size: 1.5rem; 
        }

        & .info-icon {
            font-size: 2.5rem; 
        }
        &::before {
            display: none; 
        }
        &::after{
           display: none; 
        }
    }

    .info-content {
       & button {
           font-size: 1rem; 
       }
    }

    .info-description {
        font-size: 0.8rem; 
    }
}

@media screen and (max-width: 320px) {
    .speech-bubble {
        font-size: 1rem; 
        &::before {
            display: none; 
        }
        &::after{
           display: none; 
        }
    }

    .optional-margin {
        margin-top: 4rem; 
    }
}
