.home-sprite-wrapper {
  width: 15rem;
  margin-top: 6rem;
  padding-bottom: 1.5rem;
  -webkit-animation: hover-1 5s ease-in-out infinite;
          animation: hover-1 5s ease-in-out infinite;
}

.home-sprite-wrapper svg {
  fill: #D8B646;
  stroke: #D8B646;
}

.speech-bubble {
  color: #282828;
  background-color: #D8B646;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1rem 1rem rgba(235, 236, 233, 0.08);
          box-shadow: 1rem 1rem rgba(235, 236, 233, 0.08);
  -webkit-animation: hover-2 5s linear infinite;
          animation: hover-2 5s linear infinite;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
}

.speech-bubble::before {
  content: '';
  position: absolute;
  width: 4rem;
  height: 0.75rem;
  border-radius: 1rem;
  background-color: #D8B646;
  -webkit-box-shadow: 1.2rem 1.2rem rgba(235, 236, 233, 0.08);
          box-shadow: 1.2rem 1.2rem rgba(235, 236, 233, 0.08);
  -webkit-animation: hover-3 5s linear infinite;
          animation: hover-3 5s linear infinite;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: #D8B646;
  -webkit-box-shadow: 1.2rem 1.2rem rgba(235, 236, 233, 0.08);
          box-shadow: 1.2rem 1.2rem rgba(235, 236, 233, 0.08);
  -webkit-animation: hover-4 5s linear infinite;
          animation: hover-4 5s linear infinite;
}

.first-bubble {
  height: 8rem;
  width: 8rem;
  margin-top: -2rem;
  margin-left: 0rem;
}

.first-bubble::before {
  top: calc(100% + 1rem);
  left: 0%;
}

.first-bubble::after {
  top: calc(100% + 2.5rem);
  left: 0%;
}

.second-bubble {
  height: 10rem;
  width: 12rem;
  margin-left: 2rem;
  margin-top: 12rem;
}

.second-bubble::before {
  top: calc(0% - 2rem);
  left: 0%;
}

.second-bubble::after {
  top: calc(0% - 3.5rem);
  left: 0%;
}

#second-bubble {
  margin-top: 10rem;
  margin-left: 10rem;
}

@-webkit-keyframes hover-1 {
  0% {
    -webkit-transform: translateY(0.75rem);
            transform: translateY(0.75rem);
  }
  50% {
    -webkit-transform: translateY(-0.75rem);
            transform: translateY(-0.75rem);
  }
  100% {
    -webkit-transform: translateY(0.75rem);
            transform: translateY(0.75rem);
  }
}

@keyframes hover-1 {
  0% {
    -webkit-transform: translateY(0.75rem);
            transform: translateY(0.75rem);
  }
  50% {
    -webkit-transform: translateY(-0.75rem);
            transform: translateY(-0.75rem);
  }
  100% {
    -webkit-transform: translateY(0.75rem);
            transform: translateY(0.75rem);
  }
}

@-webkit-keyframes hover-2 {
  0% {
    -webkit-transform: translateY(0.6rem);
            transform: translateY(0.6rem);
  }
  50% {
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
  }
  100% {
    -webkit-transform: translateY(0.6rem);
            transform: translateY(0.6rem);
  }
}

@keyframes hover-2 {
  0% {
    -webkit-transform: translateY(0.6rem);
            transform: translateY(0.6rem);
  }
  50% {
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
  }
  100% {
    -webkit-transform: translateY(0.6rem);
            transform: translateY(0.6rem);
  }
}

@-webkit-keyframes hover-3 {
  0% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

@keyframes hover-3 {
  0% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

@-webkit-keyframes hover-4 {
  0% {
    -webkit-transform: translateY(0.4rem);
            transform: translateY(0.4rem);
  }
  50% {
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
  100% {
    -webkit-transform: translateY(0.4rem);
            transform: translateY(0.4rem);
  }
}

@keyframes hover-4 {
  0% {
    -webkit-transform: translateY(0.4rem);
            transform: translateY(0.4rem);
  }
  50% {
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
  100% {
    -webkit-transform: translateY(0.4rem);
            transform: translateY(0.4rem);
  }
}

@media screen and (max-width: 760px) {
  .sprite-row {
    margin-top: 5rem;
  }
  .home-sprite-wrapper {
    width: 10rem;
  }
  .speech-bubble {
    font-size: 1rem;
  }
  .first-bubble {
    width: 5rem;
    height: 5rem;
  }
  .second-bubble {
    width: 7rem;
    height: 8rem;
  }
}

@media screen and (max-width: 500px) {
  .home-sprite-wrapper {
    width: 6.5rem;
  }
  .speech-bubble {
    font-size: 1rem;
  }
  .second-bubble {
    margin-left: -1rem;
  }
}
/*# sourceMappingURL=style.css.map */