.jc-btn-wrapper {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-main-btn {
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  color: #282828;
  background-color: #E2CA78;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.6rem 0.6rem rgba(235, 236, 233, 0.08);
          box-shadow: 0.6rem 0.6rem rgba(235, 236, 233, 0.08);
}

.jc-main-btn:hover, .jc-main-btn :focus {
  -webkit-box-shadow: 0.6rem 0.6rem rgba(226, 202, 120, 0.5), inset 0 0 0 2rem #bc992B;
          box-shadow: 0.6rem 0.6rem rgba(226, 202, 120, 0.5), inset 0 0 0 2rem #bc992B;
  color: #282828;
}

.jc-main-btn:active {
  -webkit-box-shadow: 0.6rem 0.6rem rgba(226, 202, 120, 0.5), inset 0 0 0 2rem #EBECE9;
          box-shadow: 0.6rem 0.6rem rgba(226, 202, 120, 0.5), inset 0 0 0 2rem #EBECE9;
  color: #282828;
}

.jc-main-btn svg {
  margin-right: 0.5rem;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.search-form select {
  font-size: 1rem;
  background-color: #E2CA78;
  color: #282828;
  border: 2px solid #E2CA78;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 0.6rem 0.6rem rgba(235, 236, 233, 0.08);
          box-shadow: 0.6rem 0.6rem rgba(235, 236, 233, 0.08);
  max-height: 3rem;
}

.search-form select option {
  background-color: #bc992B;
}

.search-form select:hover, .search-form select :focus {
  -webkit-box-shadow: 0.6rem 0.6rem rgba(226, 202, 120, 0.5), inset 0 0 0 2rem #bc992B;
          box-shadow: 0.6rem 0.6rem rgba(226, 202, 120, 0.5), inset 0 0 0 2rem #bc992B;
  border-color: #bc992B;
  color: #282828;
}

.search-form select:active {
  -webkit-box-shadow: 0.6rem 0.6rem rgba(226, 202, 120, 0.5), inset 0 0 0 2rem #EBECE9;
          box-shadow: 0.6rem 0.6rem rgba(226, 202, 120, 0.5), inset 0 0 0 2rem #EBECE9;
  border-color: #EBECE9;
  color: #282828;
}

@media screen and (min-width: 768px) {
  .search-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search-form select:first-child {
    margin-right: 1rem;
  }
  .search-form select:last-child {
    margin-left: 1rem;
  }
  .jc-btn-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jc-btn-wrapper button:first-child {
    margin-right: 1rem;
    margin-left: 2rem;
  }
  .jc-btn-wrapper button:last-child {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .search-form select {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */