$gold: #bc992B; 

.loading-container {
    position: absolute;
    margin: auto; 
    width: 10rem; 
    height: 10rem; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}

.loading-wrapper {
    width: 7rem;
    height: 7rem; 
    position: relative; 
    & span {
        position: absolute;
        width: fit-content;
        height: fit-content;
        font-size: 1.5rem;
        font-weight: bold; 
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; 
        margin: auto; 
        color: $gold; 
    }
}

.loader {
    // change path to appropriate size for where it will be used to determine loading
    offset-path: path("M170,43.59a125,125,0,1,1-125-125A125,125,0,0,1,170,43.59Z");
    animation: loop 0.75s ease-in-out infinite;
    transform: rotate(90deg);
   
    & svg {
        fill: $gold;
        stroke: $gold; 
    }
}

@keyframes loop {
    from {
        offset-distance: 0;
    }
    to {
        offset-distance: 100%; 
    }
}